/* body{
    margin:0;
    padding:0;
    background-image: linear-gradient(to top right, #152238 0%, #152238 100%);
    color: white;
    height: 100vh;
    overflow-y: hidden;
}

.container-fluid{
    padding:4vh 2vw;
    height: calc(85vh);
    overflow: hidden;
} */
/* @import '~antd/lib/style/themes/default.less'; */
/* .selector{
    background-image:#112a45;
    color: #c41d7f;
} */

/*this is for importing dark theme of antd  */
/* @import '~antd/dist/antd.dark.css'; */
/* @import '~antd/dist/antd.compact.css'; */


.leftBox{
    border: 1px solid white;
    padding: 10px;
    height: calc(79vh);
    overflow-y: scroll;
}

.leftScore{
    /* border-bottom: 1px solid #fff; */
    /* margin-bottom: -10px; */
}

.rightBox{
    border: 1px solid white;
    padding: 10px;
    height: calc(79vh);
    overflow-y: scroll;
}

.scoreButton:hover{
    cursor: auto;
}

.QuestionBox{
    background-image: linear-gradient(to top right, #152238 0%, #152238 100%);
    border: 1px solid white;
}

.questionTitle{
    /* background-image: linear-gradient(to top right,#1752b9 0%, #005eff 100%) */
    border: 1px solid white;
}

hr{
    background-color:white;
}

.upperRight{
    color:black;
}
.inputBox{
    text-align: center;
    border: 1px solid white; 
    color:white;  
}
.inputBoxTitle{
    background-image: linear-gradient(to top right, #152238 0%, #152238 100%);
}

.outputBox{
    text-align: center;
    border: 1px solid white;
    color:white;
}

.outputBoxTitle, .clipboardCopy, .clipboardCopy2 {
    background-image: linear-gradient(to top right, #152238 0%, #152238 100%);
    color: white;
}

